<div class="row banner">
  <div class="col-12">
    <h1>{{glavaStrani.naslov}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12 col-lg-9">
    <div class="row">
      <div class="col-12 col-md-6">
        <p class="rating">{{{zvezdice lokacija.ocena}}}</p>
        <p>{{lokacija.naslov}}</p>
        <div class="card card-primary">
          <div class="card-block">
            <h2 class="card-title">Delovni čas</h2>
            {{#each lokacija.delovniCas as |delovniCas|}}
              <p class="card-text">
                {{delovniCas.dnevi}}:
                {{#if delovniCas.zaprto}}
                  zaprto
                {{else}}
                  {{delovniCas.odprtje}} - {{delovniCas.zaprtje}}
                {{/if}}
              </p>
            {{/each}}
          </div>
        </div>
        <div class="card card-primary mt-3">
          <div class="card-block lastnosti">
            <h2 class="card-title">Lastnosti</h2>
            {{#each lokacija.lastnosti as |lastnost|}}
              <span class="badge badge-warning">{{lastnost}}</span>
            {{/each}}
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 mt-3">
        <div class="card card-primary">
          <div class="card-block">
            <h2>Zemljevid lokacije</h2>
            <div class="embed-responsive embed-responsive-4by3">
              <iframe src="https://maps.google.com/maps?q={{lokacija.koordinate.lat}},{{lokacija.koordinate.lng}}&z=15&output=embed"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <div class="card card-primary">
          <div class="card-block">
            <a href="/lokacija/{{lokacija._id}}/komentar/nov" class="btn btn-primary btn-sm float-right">Dodaj komentar</a>
            <h2 class="card-title">Komentarji uporabnikov</h2>
            {{#each lokacija.komentarji as |komentar|}}
              <div class="row komentar">
                <div class="col-12 rounded">
                  <span class="komentar-ocena">{{{zvezdice komentar.ocena}}}</span>
                  <span class="komentar-avtor">{{komentar.avtor}}</span>
                <small class="komentar-datum">{{formatirajDatum komentar.datum}}</small>
                </div>
                <div class="col-12">{{komentar.besediloKomentarja}}</div>
              </div>
            {{/each}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 col-lg-3 mt-3">
    <p class="lead">{{lokacija.naziv}} {{stranskaOrodnaVrstica.kontekst}}</p>
    <p>{{stranskaOrodnaVrstica.poziv}}</p>
  </div>
</div>